@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    
}

<div class="text-center">
    <div class="mx-auto">
        <h1 class="text-4xl my-4 text-center">Welcome to my simple calculator</h1>
        <div class="my-5">
            <p class="text-gray-600 py-4">We provide the basic mathematical operations.</p>
            <form class="flex justify-center mx-auto p-3 my-8" method="post">
                <input type="number" asp-for="Num1" required class="mx-2 border border-gray-300 rounded w-20 px-4 py-2" />
                <select asp-for="Operations" required class="form-select mx-2 border border-gray-100 rounded px-4">
                    <option value="+" selected> + </option>
                    <option value="-"> - </option>
                    <option value="/">/</option>
                    <option value="x">x</option>
                </select>
                <input type="number" required asp-for="Num2" class="mx-2 border border-gray-300 rounded w-20 px-4 py-2" />
                <input type="submit" value="submit" class="mx-2 border border-gray-300 rounded w-20 px-4 py-2 bg-blue-600 text-white hover:bg-blue-900" />
            </form>
        </div>
    </div>

    @if (ViewData["Results"] != null)
    {
        <div class="text-center">
            <p class="text-2xl">Your answer is @ViewData["Results"]</p>
        </div>
    }
</div>
